<div class='b-landing'>
    <img class='img-landing-text' src='/images/landing-text.png' alt='landing-text'>
    <a class='btn sign-in-btn' href='/login'>
        <img src='/images/sign-in.png' alt='sign-in'>
    </a>
    <div class='elements-container'>
        <div class='element-right'>
            <a class='btn twitter-follow-btn' href='#'>
                <img src='/images/follow.png' alt='follow'>
            </a>
        </div>
        <div class='element-left'>
            <img class='logo' src='/images/logo.png' alt='logo'>
        </div>
    </div>
</div>
