<div class='b-landing'>
    <div class='main-text'>Who's my <span class='orange'>first</span> follower</div>
    <div class='info-text'>Click below to begin your journey</div>
    <a class='btn sign-in-btn' href='/login'>
        <img src='/images/sign-in.png' alt='sign-in'>
    </a>
    <div class='elements-container'>
        <div class='element-right'>
            <a class='btn twitter-follow-btn' href="https://twitter.com/intent/follow?screen_name=@OdysseusArms">
                <img src='/images/follow.png' alt='follow'>
            </a>
        </div>
        <div class='element-left'>
            <img class='logo' src='/images/logo.png' alt='logo'>
        </div>
    </div>
</div>

<script src="https://platform.twitter.com/widgets.js"></script>
