.b-info-box {
  @include font(7vw, 10vw);
  border: 3px solid $white;
  color: $white;
  font-family: 'Cultivated-Mind', sans-serif;
  margin-top: 35px;
  padding: 35px 25px;
  text-transform: uppercase;
  text-align: center;

  .img-thank-you,
  .img-sorry {
    margin-bottom: 8vw;
    width: 90%;
  }
}

@media only screen and (min-width: 768px) {
  .b-info-box {
    @include font(26px, 36px);
    margin-top: 42px;
    padding: 35px 40px;

    .img-thank-you,
    .img-sorry {
      margin-bottom: 8%;
      width: 42%;
    }
    .img-thank-you {
      width: 65%;
    }
  }
}

@media only screen and (min-width: 997px) {
  .b-info-box {
    @include font(38px, 50px);

    .img-thank-you {
      width: 55%;
    }
  }
}
