.b-landing {
  color: $white;
  font-family: "Cultivated-Mind";
  padding: 16px 0;
  text-align: center;

  .info-text {
    font-size: 4.5vw;
    margin-bottom: 15px;
  }

  .logo {
    @include size(36px, 41px);
    margin: 0 auto;
  }

  .main-text {
    font-size: 7vw;

    .orange {
      color: $orange;
    }
  }
}

@media only screen and (min-width: 768px) {
  .b-landing {
    .elements-container {
      @include flex-flow(row-reverse, wrap);
      @include flex-align-items(center);
      width: 220px;
      margin: 0 auto;
    }

    .element-right {
      width: 55%;
    }

    .element-left {
      width: 45%;
    }

    .info-text {
      font-size: 3vw;
    }

    .logo {
      float: left;
    }

    .main-text {
      font-size: 4.6vw;
    }
  }
}



@media only screen and (min-width: 997px) {
  .b-landing {
    padding: 40px 0;

    .elements-container {
      width: 356px;
    }

    .element-right {
      width: 58%;
    }

    .element-left {
      width: 42%;
    }

    .info-text {
      font-size: 28px;
      margin-bottom: 20px;
    }

    .logo {
      margin: 0 45px 0;
    }

    .main-text {
      font-size: 48px;
      line-height: 64px;
    }
  }
}

@media only screen and (min-width: 1282px) {
  .b-landing {
    padding: 60px 0;

    .info-text {
      font-size: 38px;
      margin-bottom: 40px;
    }

    .element-right {
      width: 70%;
    }

    .element-left {
      width: 30%;
    }

    .img-city-name {
      width: 20px;
    }

    .img-thank-bot {
      width: 90%;
    }

    .logo {
      margin: 0 22px 0;
    }

    .main-text {
      font-size: 54px;
      line-height: 74px;
    }
  }
}

